registry = https://npm.d.musta.ch

# We observed that `npm install` hangs on fresh CI agents where `~/.npm/cache` is not populated.
# On the first build NPM is downloading 1300+ packages and there is a possible race condition
# like one mentioned in multiple similar issues on GitHub:
#   https://github.com/npm/npm/issues/3058
#   https://github.com/npm/npm/issues/7862
#   https://github.com/npm/npm/issues/13729
# Let's try to workaround the hanging NPM install by always downloading at most one package at a time.
# Manual testing didn't show any significant performance degradation. Also worth to notice in most cases
# all packages will be already downloaded and cached.

maxsockets = 1
